@{
    ViewData["Title"] = "Projects";
}
<section id="projects">
    <header class="page-header">
        <h2>Projects</h2>
        <button type="button" class="btn btn-add btn-blue">Add Project</button>
    </header>
</section>